# See https://pre-commit.com/ for usage and config
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: master
  hooks:
  - id: no-commit-to-branch
    name: Check not master branch
    args: ['--branch', 'master']
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: detect-aws-credentials
    args: ['--allow-missing-credentials']
  - id: detect-private-key
  - id: end-of-file-fixer
    exclude: 'docs/|setup.cfg'
  - id: trailing-whitespace
    exclude: 'docs/|setup.cfg'

- repo: https://github.com/myint/docformatter
  rev: master
  hooks:
  - id: docformatter

- repo: https://github.com/humitos/mirrors-autoflake
  rev: v1.1
  hooks:
    - id: autoflake
      args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']

- repo: https://github.com/timothycrosley/isort
  rev: 5.0.9
  hooks:
  - id: isort

- repo: https://github.com/ambv/black
  rev: stable
  hooks:
  - id: black

- repo: local
  hooks:
  - id: flake8
    name: flake8
    language: system
    entry: pipenv run flake8
    types: [python]
    exclude: 'setup.py'
    additional_dependencies: [
      'flake8-blind-except',
      'flake8-commas',
      'flake8-comprehensions',
      'flake8-deprecated',
      'flake8-docstrings',
      'flake8-meiqia',
      'flake8-mutable',
      'flake8-pep3101',
      'flake8-quotes',
      'flake8-string-format',
      'flake8-tidy-imports',
    ]

  - id: mypy
    name: mypy
    language: system
    entry: pipenv run mypy
    types: [python]
    require_serial: true

  - id: pytest
    name: pytest
    language: system
    entry: pipenv run pytest
    types: [python]
    pass_filenames: false

  - id: pytest-cov
    name: "pytest coverage"
    stages: [push]
    language: system
    entry: pipenv run pytest --cov --cov-fail-under=100 --cov-report term-missing:skip-covered
    types: [python]
    pass_filenames: false

  - id: pipenv-update-lock
    name: "Update pipfile.lock"
    stages: [push]
    language: system
    entry: pipenv run pipenv update
    pass_filenames: false

- repo: https://github.com/anmut-consulting/pipenv-setup
  rev: master
  hooks:
  - id: pipenv-setup-sync
    name: "pipenv-setup sync with pipfile"
    stages: [push]
    language: system
    entry: pipenv run pipenv-setup sync --pipfile
    pass_filenames: false

  - id: pipenv-setup-check
    name: "pipenv-setup check"
    stages: [push]
    language: system
    entry: pipenv run pipenv-setup check
    pass_filenames: false
