[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "{python_version}"

[packages]
{% if cookiecutter.command_line_interface|lower == "click" %}click = ">=6.0"{%- endif %}

[dev-packages]
black = "==19.3b0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[scripts]
init = "pipenv run pre-commit install -t pre-commit -t pre-push"
test = "pipenv run pytest"
commit_test = "pipenv run pre-commit run --hook-stage commit"
push_test = "pipenv run pre-commit run --hook-stage push"
test_all = "pipenv run pre-commmit run -a"
make_docs = "pipenv run make -C docs html"
